<nav class="navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-brand" ui-sref="authenticated.food">
      <img class="navbar-brand-logo"
           src="https://p1.hiclipart.com/preview/211/445/164/dceu-the-flash-logo-png-clipart.jpg"
           alt="ChefApp">
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      ng-click="$ctrl.burgerMenu = !!!$ctrl.burgerMenu"
      ng-class="{'is-active': $ctrl.burgerMenu}"
      aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu navbar-end " id="navMenu" ng-class="{'is-active': $ctrl.burgerMenu}">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        <span class="icon">
            <i class="fa fa-user"></i>
        </span>
        &nbsp;Minha Conta
      </a>

      <div class="navbar-dropdown is-right">
        <a class="navbar-item" ui-sref="authenticated.profile" ng-click="$ctrl.burgerMenu = !!!$ctrl.burgerMenu">
          <span class="icon is-small">
            <i class="fa fa-user-o"></i>
          </span>
          &nbsp;&nbsp;Perfil
        </a>
        <a class="navbar-item" ng-click="$ctrl.burgerMenu = !!!$ctrl.burgerMenu"
           target="_blank" href="https://github.com/DenerRodrigues/python-tradinglib">
          <span class="icon is-small"><i class="fa fa-github"></i></span>
          &nbsp;&nbsp;API
        </a>
        <a class="navbar-item" ng-click="$ctrl.burgerMenu = !!!$ctrl.burgerMenu"
           target="_blank" href="https://github.com/DenerRodrigues/chefapp-frontend">
          <span class="icon is-small"><i class="fa fa-github"></i></span>
          &nbsp;&nbsp;FrontEnd
        </a>
        <hr class="navbar-divider">
        <a class="navbar-item" ng-click="$ctrl.logout()">
          <span class="icon is-small">
            <i class="fa fa-power-off"></i>
          </span>
          &nbsp;&nbsp;Logout
        </a>
      </div>
    </div>
  </div>
</nav>
