@import './../common.scss';
@import './../mixins.scss';

.aside {
  padding: 2em .2em 0 1em;
  margin-right: -0.75em;
  @include themify($themes) {
    background-color: themed('sidebar-background');
  }

  .menu-label {
    margin-left: .5em;
    @include themify($themes) {
      color: themed('menu-title');
    }
  }

  .menu-list {
    li {
      margin-top: .5em;
    }

    a {
      @include themify($themes) {
        color: themed('sidebar-text') !important;
      }

      &.is-active {
        @include themify($themes) {
          background-color: themed('selected');
          color: themed('text-hover') !important;
        }
      }

      &:hover {
        @include themify($themes) {
          background-color: themed('selected');
          color: themed('sidebar-text') !important;
        }
      }
    }
  }
}
