@import './../common.scss';
@import './../mixins.scss';

.footer {
  padding: 2em 2em !important;
  @include themify($themes) {
    background-color: themed('footer-background');
    color: themed('text') !important;
  }
}
