<div class="columns">
  <div class="column">
    <div class="title">Alterar senha</div>
    <form ng-submit="$ctrl.changePassword()">
      <div class="field">
        <label class="label">Senha atual</label>
        <div class="control">
          <input type="password" name="old_password" placeholder="Senha atual" class="input"
                 ng-model="$ctrl.user.old_password" autocomplete="off" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Nova senha</label>
        <div class="control">
          <input type="password" name="new_password" placeholder="Nova senha" class="input"
                 ng-model="$ctrl.user.new_password" autocomplete="off" required>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-small is-link" type="submit">
            <i class="fa fa-plus"></i>
            &nbsp;Alterar senha
          </button>
        </div>
        <div class="control">
          <button class="button is-small is-light" type="button" ng-click="$ctrl.showChangePasswordForm=false">
            Voltar
          </button>
        </div>
      </div>
      <div class="field" ng-if="$ctrl.message">
        <div class="notification {{ $ctrl.message.type }}">
          <span translate>{{ $ctrl.message.text }}</span>
        </div>
      </div>
    </form>
  </div>
</div>
